html, body {
  height: 100%;
  margin: 0;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
  background: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/170698541.webp?k=1ef5999b1f91416cbd8faf79439254a16fe9585bccc50a00864076ab6e348a56&o=) no-repeat center center ;
  background-size: cover;
}
